/* CRITICAL: USE #Shkred AT THE BEGGINING OF EVERY CSS SELECTOR */

/* Example 01 */
/* 
#Shkred .portfolio-title {
  color: red;
  margin-bottom: 10px;
}
*/

/* Example 02 */
/* 
#Shkred article .portfolio-description {
  padding: 24px;
}
*/
