/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");

/* components */
@import url("./components/header/header.css");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --color-main-bg: #ecf8ff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #1da1f2;
  --color-grey: #00000060;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 16px;
  background-color: var(--color-main-bg); 
  color: var(--color-black);
  scroll-behavior: smooth;
}

.container {
  padding: 16px;
  margin: 12px 24px;
  scroll-margin-top: 15rem;

  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-blue-gray);
}
