/* CRITICAL: USE #Krauchanka AT THE BEGGINING OF EVERY CSS SELECTOR */

/* Example 01 */
/* 
#Krauchanka .portfolio-title {
  color: red;
  margin-bottom: 10px;
}
*/

/* Example 02 */
/* 
#Krauchanka article .portfolio-description {
  padding: 24px;
}
*/
