.content3 {
  position: relative;
  width: 1463px;
  height: 720px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.culture {
  width: 632px;
  height: 488px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
  position: relative;
  left: 2.91%;
  top: 15.99%;
  bottom: 16.23%;
}

.culture-tagline {
  width: 400px;
  height: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.culture-text {
  top: 11%;
  width: 555px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.culture-text2 {
  top: 70%;
  width: 632px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.culture-img {
  position: absolute;
  right: 0%;
  top: 0%
}