.footer {
    position: relative;
    width: 1460.86px;
    height: 748px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer-block {
    width: 1460.72px;
    height: 125.83px;
}

.footer-logo {
    float: left;
    margin: 12px 0px 0px 4px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;

}

.footer-block2 {
    position: relative;
    width: 585.38px;
    height: 69.14px;
    left: 875.48px;
    top: 0px;
}

.footer-text {
    position: absolute;
    height: 29px;
    left: 19.38%;
    right: 50.38%;
    top: calc(50% - 29px/2 - 0.07px);
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.3px;
}

.footer-button {
    position: absolute;
    right: 0%;
    background: #FFA343;
    border-radius: 8px;
    height: 69.13580322265625px;
    width: 239.35006713867188px;
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
}

.hr1 {
    margin-top: 4%;
}

.footer-row {
    display: grid;
    grid-template-columns: 400px 147px 92px 106px;
    column-gap: 15%;
    width: 1364.11px;
    height: 248px;
    margin-top: 5%;
    grid-template-areas:
        "info service about helpp";
}

.footer-news,
.footer-service,
.footer-about,
.footer-help {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 19px;
    gap: 10%;
}

.footer-news {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-service {
    grid-area: service;
}

.footer-about {
    grid-area: about;
}

.footer-help {
    grid-area: helpp;
}

.footer-text1 {
    color: #FFFFFF;
}

.footer-text2 {
    font-weight: 700;
    color: #FFD1A0;
    ;
}

.footer-news-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-mail {
    position: relative;
    width: 399.6px;
    height: 70.52px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-mail-text {
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer-mail-search {
    position: absolute;
    bottom: 20%;
    background: transparent;
    border: none;
    color: #FFFFFF;
    width: 300px;
    font-size: 20px;

}



.hr2 {
    position: absolute;
    bottom: 0%;
    width: 82%;
}

.footer-mail-button {
    position: absolute;
    top: -4%;
    height: 69.13580322265625px;
    width: 69.13577270507812px;
    margin-bottom: -100px;
    right: 0%;
    background: #FFA343;
    border-radius: 8px 8px 0px 0px;
    font-size: 20px;
    font-weight: 700;
}



.footer-row2 {
    position: absolute;
    width: 1379px;
    height: 30px;
    left: 40.86px;
    top: 530px;
}

.footer-row2-text,
.footer-row2-text2 {
    position: absolute;
    color: #FFFFFF;
    top: calc(50% - 20px/2 + 1px);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.204545px;
}

.footer-row2-text {
    left: 0%;
    right: 87.45%;
}

.footer-row2-text2 {
    left: 16.2%;
    right: 75.09%;
}

.footer-row2-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    width: 172.97px;
    height: 30px;
    left: 1206.03px;
    top: 0px;
    grid-template-areas:
        "face twit inst";
}

.footer-face {
    grid-area: face;
    height: 27.06131362915039px;
    width: 12.81298828125px;
}

.footer-twit {
    grid-area: twit;
    height: 24.374998092651367px;
    width: 28.40625px;

}

.footer-inst {
    grid-area: inst;
    height: 30px;
    width: 28.40625px;
}

.copyright {
    position: absolute;
    left: 631.86px;
    bottom: 5%;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    opacity: 0.5;
}