.mountain {
    width: 1461px;
    height: 985px;
    background: url("../assets/images/steps-img.png");
}

.content2 {
    width: 1461px;
    height: 962px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.mountain-frame {
    position: absolute;
    width: 1389px;
    height: 30px;
    top: 36.8%;
    left: 2%;
}

.coolicon {
    transform: scale(-1, 1);
    position: absolute;
    right: 0%;
}

.mountain-frame2 {
    position: absolute;
    width: 296px;
    height: 25px;
    left: 37.5%;
}

.mountain-content {
    position: relative;
    top: 54%;
    left: 10%;
    right: 10%;
    height: 428.62335205078125px;
    width: 1163px;
    border-radius: 0px;
}

.mountain-line {
    position: absolute;
    width: 72px;
    height: 2px;
    top: 50%;
    background: #FBD784;
}

.mountain-bromo {
    position: absolute;
    width: 94px;
    height: 25px;
    left: 34%;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.mountain-line2 {
    position: absolute;
    width: 72px;
    height: 2px;
    top: 50%;
    right: 0%;
    background: #FBD784;
}

.mountain-text {
    position: absolute;
    width: 705px;
    height: 174px;
    right: -69%;
    top: 49px;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
}

.mountain-text2 {
    position: absolute;
    width: 934px;
    height: 96px;
    right: -100%;
    top: 250px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.mountain-block {
    position: absolute;
    width: 127px;
    height: 25px;
    top: 380px;
    right: 40%;
}