.mountain {
    width: 1461px;
    height: 985px;
    background: url("../assets/images/steps-img.png");
}

.content2 {
    width: 1461px;
    height: 962px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.mountain-frame {
    position: absolute;
    width: 1389px;
    height: 30px;
    top: 36.8%;
    left: 2%;
}

.coolicon {
    transform: scale(-1, 1);
    position: absolute;
    right: 0%;
}

.mountain-frame2 {
    position: absolute;
    width: 296px;
    height: 25px;
    left: 37.5%;
}

.mountain-content {
    position: relative;
    top: 54%;
    left: 10%;
    right: 10%;
    height: 428.62335205078125px;
    width: 1163px;
    border-radius: 0px;
}

.mountain-line,
.mountain-line2 {
    top: 50%;
}

.mountain-bromo {
    left: 34%;
}

.mountain-line2 {
    right: 0%;
}

.mountain-text {
    width: 705px;
    right: -69%;
    top: 49px;
    text-align: center;
}

.mountain-text2 {
    width: 934px;
    right: -100%;
    top: 250px;
    text-align: center;
}

.mountain-block {
    top: 380px;
    right: 40%;
}