html {
  font-size: 16px;
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #FFFFFF;
}
hr{
  opacity: 0.3;
  mix-blend-mode: normal;
}
a:link {
  text-decoration: none;
}
.hero{
position: absolute;
width: 1920px;
height: 1200px;
left: 0px;
top: 0px;
background: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%);
}
.rectangle{
position: absolute;
width: 1920px;
height: 1573px;
left: 0px;
top: 0px;
background-image: url("../assets/images/hero-bg.png");
}
.rectangle3{
position: absolute;
width: 1920px;
height: 358px;
left: 0px;
top: 1215px;
background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
  }
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 250px;
  position: absolute;
  width: 1461px;
  height: 3901px;
  left: 229px;
  top: 60%;
  }
.content1{
  width: 1462px;
  height: 721px;
  flex: none;
  order: 0;
  flex-grow: 0;
  }
.content2{
width: 1461px;
height: 962px;
flex: none;
order: 1;
flex-grow: 0;
  }
.content3{
width: 1463px;
height: 720px;
flex: none;
order: 2;
flex-grow: 0;
 }
.footer{
  position:relative;
  width: 1460.86px;
  height: 748px;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.holiday{
position: absolute;
left: 0px;
top: 1px;
}
.holiday-content{
width: 632px;
height: 546px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 27px;
position: absolute;
left: 56.77%;
right: 0%;
top: 2%;
bottom: 12.07%;
}
.line{
position: absolute;
width: 72px;
height: 2px;
left: 0px;
top: 10px;
background: #FBD784;
}
.line-text{
position: absolute;
height: 25px;
left: 96px;
top: 0px;
font-weight: 700;
font-size: 18px;
line-height: 25px;
letter-spacing: 6px;
text-transform: uppercase;
color: #FBD784;
}
.line-text2{
  position: absolute;
  top: 8%;
  width: 400px;
  height: 261px;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  flex: none;
  order: 1;
  flex-grow: 0;
  }
.line-text3{
  position: absolute;
  top: 60%;
  width: 550px;
  height: 160px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
  }
  .line-block{
  position: absolute;
  width: 127px;
  height: 25px;
  bottom: 0%;
  
  }
.line-text4{
position: absolute;
width: 94px;
height: 25px;
top: 16%;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #FBD784;
 }
 .line-row{
position: absolute;
right: 7%;
top: 30%;
 }
.mountain{
width: 1461px;
height: 985px;
background: url("../assets/images/steps-img.png");
}
.mountain-content{
position: relative ;
top: 54%;
left: 10%;
right: 10%;
height: 428.62335205078125px;
width: 1163px;
border-radius: 0px;
}
.mountain-frame{
  position: absolute;
  width: 296px;
  height: 25px;
  left: 37.5%;
}
.mountain-line{
  position: absolute;
  width: 72px;
  height: 2px;
  top: 50%; 
  background: #FBD784;
}
.mountain-bromo{
position: absolute;
width: 94px;
height: 25px;
left: 34%;  
font-weight: 700;
font-size: 18px;
line-height: 25px;
letter-spacing: 6px;
text-transform: uppercase;
color: #FBD784;
}
.mountain-line2{
  position: absolute;
  width: 72px;
  height: 2px;
  top: 50%; 
  right: 0%;
  background: #FBD784;
}
.mountain-frame0{
position: absolute;
width: 1389px;
height: 30px;
top:36.8%;
left: 2%;
}
.coolicon{
  transform: scale(-1, 1);
  position: absolute;
  right: 0%;
}
.mountain-text{
position: absolute;
width: 705px;
height: 174px;
right: -69%;
top: 49px; 
font-weight: 700;
font-size: 64px;
line-height: 87px;
text-align: center;
 }
.mountain-text2{
position: absolute;
width: 934px;
height: 96px;
right: -100%;
top: 250px;
font-weight: 600;
font-size: 18px;
line-height: 32px;
text-align: center;
}
.mountain-block{
position: absolute;
width: 127px;
height: 25px;
top: 380px;
right: 40%;
}
.culture{
  width: 632px;
  height: 488px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
  position: relative;
  left: 2.91%;
  right: 53.9%;
  top: 15.99%;
  bottom: 16.23%;
}
.culture-tagline{
width: 400px;
height: 25px;
flex: none;
order: 0;
flex-grow: 0;
}
.culture-text{
position: absolute;
top: 11%;
width: 555px;
height: 261px;
font-weight: 700;
font-size: 64px;
line-height: 87px;
flex: none;
order: 1;
flex-grow: 0;
}
.culture-text2{
  position: absolute;
  top: 70%;
  width: 632px;
  height: 96px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
  }
.culture-img{
float: right; 
margin: -33.5% 0px 10px 10px;
  }

  .footer-block{
width: 1460.72px;
height: 125.83px;
  }
  .footer-logo{
    float: left; 
    margin: 12px 0px 0px 4px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;

  }
  .footer-block2{
    position: relative;
    width: 585.38px;
    height: 69.14px;
    left: 875.48px;
    top: 0px;
  }
  .footer-text{
position: absolute;
height: 29px;
left: 19.38%;
right: 50.38%;
top: calc(50% - 29px/2 - 0.07px);
font-weight: 400;
font-size: 22px;
line-height: 29px;
letter-spacing: -0.3px;
  }
  .footer-button{
position: absolute;
right: 0%;
background: #FFA343;
border-radius: 8px;
height: 69.13580322265625px;
width: 239.35006713867188px;
color: #000000;
font-weight: 700;
font-size: 17px;
line-height: 22px;
  }
  .footer-news, .footer-service, .footer-about, .footer-help{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 19px;
    gap: 10%;
      }
  .footer-news{
grid-area: info;
display: flex;
flex-direction: column;
gap: 50px;
  }
  .footer-service{
    grid-area: service;
  }
  .footer-about{
    grid-area: about;
  }
  .footer-help{
    grid-area: helpp;
  }
  .footer-text1{
    color: #FFFFFF;
  }
  .footer-text2{
    font-weight: 700;
    color: #FFD1A0;
    ;
  }
.footer-news-text{
font-weight: 700;
font-size: 36px;
line-height: 49px;
letter-spacing: -0.3px;
flex: none;
order: 0;
flex-grow: 0;
}
.footer-mail{
position: relative;
width: 399.6px;
height: 70.52px;
flex: none;
order: 1;
flex-grow: 0;
}
.footer-mail-text{
margin-left: 15px;
margin-top: 10px;
font-weight: 400;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.204545px;
mix-blend-mode: normal;
opacity: 0.5;
}
.footer-mail-search{
  position: absolute;
  bottom: 20%;
  background: transparent;
  border: none;
  color: #FFFFFF;
  width: 300px;
  font-size: 20px;

}
.hr1{
  margin-top: 4%;
}
.hr2{
 position: absolute;
 bottom: 0%;
 width: 82%;
}
.footer-mail-button{
position: absolute;
top: -4%;
height: 69.13580322265625px;
width: 69.13577270507812px;
margin-bottom: -100px;
right: 0%;
background: #FFA343;
border-radius: 8px 8px 0px 0px;
font-size: 20px;
font-weight: 700;
}
.footer-row{
display: grid;
grid-template-columns: 400px 147px 92px 106px;
column-gap: 15%;
width: 1364.11px;
height: 248px;
margin-top: 5%;
grid-template-areas: 
"info service about helpp";
}
.footer-row2{
position: absolute;
width: 1379px;
height: 30px;
left: 40.86px;
top: 530px;
}
.footer-row2-text, .footer-row2-text2{
  position: absolute;
  color: #FFFFFF;
  top: calc(50% - 20px/2 + 1px);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.204545px;
}
.footer-row2-text{
left: 0%;
right: 87.45%;
}
.footer-row2-text2{
left: 16.2%;
right: 75.09%;
}
.footer-row2-social{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
position: absolute;
width: 172.97px;
height: 30px;
left: 1206.03px;
top: 0px;
grid-template-areas: 
"face twit inst";
}

.footer-face{
  grid-area: face;
  height: 27.06131362915039px;
  width: 12.81298828125px;
}
.footer-twit{
  grid-area: twit;
  height: 24.374998092651367px;
width: 28.40625px;

}
.footer-inst{
  grid-area: inst;
  height: 30px;
  width: 28.40625px;
}
.copyright{
position: absolute;
left: 631.86px;
bottom: 5%;
font-weight: 600;
font-size: 18px;
line-height: 32px;
text-align: center;
opacity: 0.5;
}