/* CRITICAL: USE #Korsak AT THE BEGGINING OF EVERY CSS SELECTOR */

/* Example 01 */
/* 
#Korsak .portfolio-title {
  color: red;
  margin-bottom: 10px;
}
*/

/* Example 02 */
/* 
#Korsak article .portfolio-description {
  padding: 24px;
}
*/
