/* CRITICAL: USE #Shamsiev AT THE BEGGINING OF EVERY CSS SELECTOR */

/* Example 01 */
/* 
#Shamsiev .portfolio-title {
  color: red;
  margin-bottom: 10px;
}
*/

/* Example 02 */
/* 
#Shamsiev article .portfolio-description {
  padding: 24px;
}
*/
