/* CRITICAL: USE #Ramanenka AT THE BEGGINING OF EVERY CSS SELECTOR */

/* Example 01 */
/* 
#Ramanenka .portfolio-title {
  color: red;
  margin-bottom: 10px;
}
*/

/* Example 02 */
/* 
#Ramanenka article .portfolio-description {
  padding: 24px;
}
*/
