/* CRITICAL: USE #Delbano AT THE BEGGINING OF EVERY CSS SELECTOR */

/* Example 01 */
/* 
#Delbano .portfolio-title {
  color: red;
  margin-bottom: 10px;
}
*/

/* Example 02 */
/* 
#Delbano article .portfolio-description {
  padding: 24px;
}
*/
