.footer {
  background-color: var(--color-black);
  color: var(--color-white);

  padding: 12px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  margin-bottom: 12px;
}

.nav-list-item--title {
  text-transform: uppercase;
  color: var(--color-lilac);
}
